{% extends 'base.html' %}

{% block title %}Produtos{% endblock %}

{% block content %}

<style>

    tr[data-href] {
        cursor: pointer;
    }

</style>


<nav class="navbar navbar-expand-lg navbar-light navbar-page">
    <div class="container">
        <a class="navbar-brand" href="{{ url_base }}">{{ page_title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ordenar
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <div class="input-group me-2">
                    <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <button class="btn btn-primary" type="button" id="button-addon1"><i class="bi bi-search"></i></button>
                </div>
            </form>
            <a class="btn btn-success mt-2 mt-lg-0" href="{{ url_base }}/novo" role="button">Novo</a>
        </div>
    </div>
</nav>


<div class="container table-responsive mt-1">
    <table class="table table-light table-striped table-hover table-sm">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th>Código</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Criado</th>
                <th>Atualizado</th>
                <th>Disponível</th>
            </tr>
        </thead>
        <tbody>
        {% for produto in object_list %}
                <tr data-href="{{ produto.get_absolute_url }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ produto.codigo_barras }}</td>
                    <td>{{ produto.nome|upper }}</td>
                    <td>{{ produto.preco }}</td>
                    <td>{{ produto.criado|date:"Y-n-j G:H" }}</td>
                    <td>{{ produto.atualizado|date:"Y-n-j G:H" }}</td>
                    <td>{{ produto.disponivel }}</td>
                </tr>
        {% empty %}
            <div class="alert alert-warning" role="alert">
                Nenhum produto encontrado.
            </div>
        {% endfor %}   
        </tbody>
    </table>
</div>

<script>

    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });

</script>

{% endblock %}